@using DepartmentWebCore.Helpers

@model BaseInterfaces.ViewModels.LecturerViewModel

@{
	ViewBag.Title = string.Format("{0} {1} {2}", Model.LastName, Model.FirstName, Model.Patronymic);
}

@if (Model != null)
{
	<text>
		<h2 class="page-header">@Model.LastName @Model.FirstName @Model.Patronymic</h2>
		<table class="table">
			<tr id="list">
				<td width="150px" class="text-lecturer-img">
					@if (Model.Photo != null && Model.PhotoByteArr.Length > 0)
					{
						<img src="data:image/png;base64,@(Convert.ToBase64String(Model.PhotoByteArr))" alt="@Model.FullName" />
					}
					else
					{
						<img src="~/Images/default-lecturer.png" alt="@Model.FullName">
					}
				</td>
				<td>
					<p class="text-lecturer">
						<label>Должность: </label>
						@Model.LectureDepartmentPost
						@Model.LecturerStudyPost
					</p>
					<p class="text-lecturer">
						<label>Звание: </label>
						@Model.Rank2
					</p>
					<p class="text-lecturer">
						@Model.Description
					</p>

					@Html.RenderAction("LecturerDisciplines", "Lecturer", new { Id = Model.Id })
				</td>
			</tr>
		</table>
	</text>
}