@model WebInterfaces.ViewModels.WebProcessDisciplineListInfoViewModel
@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">@Model.EducationDirectionName - Курс @Model.Course.Split('_')[1]</h2>

<table class="table">
    <tr>
        <th style="position:center;">Семестр @Model.Discipline.FirstOrDefault(x => x.Semester % 2 == 1).Semester</th>
        <th>Семестр @Model.Discipline.FirstOrDefault(x => x.Semester % 2 == 0).Semester</th>
    </tr>

    <tr>
        <td>Зачеты</td>
        <td>Зачеты</td>
    </tr>

    <tr class="tab">

        <td width="50%" style="padding:15px;">

            @foreach (var tmp in Model.Discipline.Where(x => x.Semester % 2 == 1 && x.TimeNormName.ToLower().Contains("зачет")))
            {
                @Html.ActionLink(tmp.DisciplineName, "DisContent", "Discipline", new { id = tmp.DisciplineName }, null)<br />
            }
        </td>

        <td width="50%" style="padding:15px;">
            @foreach (var tmp in Model.Discipline.Where(x => x.Semester % 2 == 0 && x.TimeNormName.ToLower().Contains("зачет")))
            {
                @Html.ActionLink(tmp.DisciplineName, "DisContent", "Discipline", new { id = tmp.DisciplineName }, null)<br />
            }
        </td>

    </tr>
    <tr>
        <td >Экзамены</td>
        <td>Экзамены</td>
    </tr>
    <tr class="tab">
        <td width="50%" style="padding:15px;">
            @foreach (var tmp in Model.Discipline.Where(x => x.Semester % 2 == 1 && x.TimeNormName.ToLower().Contains("экзамен")))
            {
                @Html.ActionLink(tmp.DisciplineName, "DisContent", "Discipline", new { id = tmp.DisciplineName }, null)<br />
            }
        </td>

        <td width="50%" style="padding:15px;">
            @foreach (var tmp in Model.Discipline.Where(x => x.Semester % 2 == 0 && x.TimeNormName.ToLower().Contains("экзамен")))
            {
                @Html.ActionLink(tmp.DisciplineName, "DisContent", "Discipline", new { id = tmp.DisciplineName }, null)<br />
            }
        </td>
    </tr>
</table>

