@model IEnumerable<DepartmentModel.Models.AcademicPlanRecord>

@{
    ViewBag.Title = "Statement";
}

<h2>Statement</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDelete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcademicPlanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisciplineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContingentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDelete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicPlanId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisciplineId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContingentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
