@{
    ViewBag.Title = Model.AcademicPlanRecordElementTitle != null && Model.LecturerName != null ? Model.AcademicPlanRecordElementTitle + " : " + Model.LecturerName : "Распределение нагрузки";
}

@using AcademicYearInterfaces.ViewModels
@model AcademicPlanRecordMissionViewModel

<form class="form-horizontal" style="margin-top:10px">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="AcademicPlanRecordElementId" />

    <div class="form-group">
        <div class="col-xs-8">
            <a asp-controller="AcademicPlanRecordElement" asp-action="View" asp-route-Id="@Model.AcademicPlanRecordElementId">
                <button type="button" class="btn btn-primary pull-left">Назад</button>
            </a>
            <button id="btnSave" type="button" class="btn btn-primary pull-right">Сохранить</button>
        </div>
    </div>
    <div id="error" class="text-danger"></div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="AcademicPlanRecordElementId"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="AcademicPlanRecordElementId" asp-items="@ViewBag.AcademicPlanRecordElements" disabled></select>
            <span asp-validation-for="AcademicPlanRecordElementId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="LecturerId"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="LecturerId" asp-items="@ViewBag.Lecturers"></select>
            <span asp-validation-for="LecturerId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="Hours"></label>
        <div class="col-xs-6">
            <input class="form-control" asp-for="Hours">
            <span asp-validation-for="Hours" class="text-danger"></span>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var inputs = $("input[data-val-number*='number']");
        for (var i = 0; i < inputs.length; i++) {
            $(inputs[i]).on("change", function () {
                changeNum(this);
            });
            changeNum(inputs[i]);
        }
    });

    function changeNum(input) {
        input = $(input);
        var value = input.val();
        if (value) {
            input.val(value.replace(",", "."));
        }
    };

    $('#btnSave').click(function () {
        $('#error').text("");
        if ($("form").valid()) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save", "AcademicPlanRecordMission")',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.error.length > 0) {
                        $('#error').text(data.error);
                        return;
                    }
                    if (data.id != null) {
                        window.location = "@Url.Action("View", "AcademicPlanRecordMission", new { Id = "id" })".replace("id", data.id);
                    }
                    else {
                        window.location.reload();
                    }
                },
                error: function (result) {
                    alert(result);
                }
            });
        }
    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}