@{
    ViewBag.Title = Model.Discipline != null && Model.KindOfLoadName != null ? Model.Discipline + " : " + Model.KindOfLoadName : "Элемент записи академического плана";
}

@using DepartmentWebCore.Helpers
@using AcademicYearInterfaces.ViewModels
@model AcademicPlanRecordElementViewModel

<form class="form-horizontal" style="margin-top:10px">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="AcademicPlanRecordId" />

    <div class="form-group">
        <div class="col-xs-8">
            <a asp-controller="AcademicPlanRecord" asp-action="View" asp-route-Id="@Model.AcademicPlanRecordId">
                <button type="button" class="btn btn-primary pull-left">Назад</button>
            </a>
            <button id="btnSave" type="button" class="btn btn-primary pull-right">Сохранить</button>
        </div>
    </div>
    <div id="error" class="text-danger"></div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="AcademicPlanRecordId"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="AcademicPlanRecordId" asp-items="@ViewBag.AcademicPlanRecords" disabled></select>
            <span asp-validation-for="AcademicPlanRecordId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="TimeNormId"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="TimeNormId" asp-items="@ViewBag.TimeNorms"></select>
            <span asp-validation-for="TimeNormId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="PlanHours"></label>
        <div class="col-xs-6">
            <input class="form-control" asp-for="PlanHours">
            <span asp-validation-for="PlanHours" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="FactHours"></label>
        <div class="col-xs-6">
            <input class="form-control" asp-for="FactHours">
            <span asp-validation-for="FactHours" class="text-danger"></span>
        </div>
    </div>

    <div>
        @Html.RenderAction("Table", "AcademicPlanRecordMission", new { Id = Model.Id })
    </div>

</form>

<script>
    $(function () {
        $('#btnSave').click(function () {
            $('#error').text("");
            if ($("form").valid()) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "AcademicPlanRecordElement")',
                    data: $('form').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.error.length > 0) {
                            $('#error').text(data.error);
                            return;
                        }
                        if (data.id != null) {
                            window.location = "@Url.Action("View", "AcademicPlanRecordElement", new { Id = "id" })".replace("id", data.id);
                        }
                        else {
                            window.location.reload();
                        }
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            }
        });
    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}