@{
    ViewBag.Title = Model.EducationDirection != null ? Model.EducationDirection : "Академический план";
}

@using DepartmentWebCore.Helpers
@using AcademicYearInterfaces.ViewModels
@model AcademicPlanViewModel

<form class="form-horizontal" style="margin-top:10px">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="AcademicYearId" />
    <input id="AcademicCourses" type="hidden" asp-for="AcademicCourses" />

    <div class="form-group">
        <div class="col-xs-8">
            <a asp-controller="AcademicYear" asp-action="View" asp-route-Id="@Model.AcademicYearId" asp-route-menuElement="@ViewBag.menuElement">
                <button type="button" class="btn btn-primary pull-left">Назад</button>
            </a>
            <button id="btnSave" type="button" class="btn btn-primary pull-right">Сохранить</button>
        </div>
    </div>
    <div id="error" class="text-danger"></div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="AcademicYearId"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="AcademicYearId" asp-items="@ViewBag.AcademicYears" disabled></select>
            <span asp-validation-for="AcademicYearId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="EducationDirectionId"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="EducationDirectionId" asp-items="@ViewBag.EducationDirections"></select>
            <span asp-validation-for="EducationDirectionId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="AcademicCourses"></label>
        <div class="col-xs-6">
            @for (int i = 1; i <= @ViewBag.AcademicCourses.Count; i++)
            {
                <label class="checkbox-inline">
                    @if ((@Model.academicCourse() & @ViewBag.AcademicCourses[i - 1]) == @ViewBag.AcademicCourses[i - 1])
                    {
                        <input id="@i" type="checkbox" checked> @i
                    }
                    else
                    {
                        <input id="@i" type="checkbox"> @i
                    }
                </label>
            }
        </div>
    </div>

    <div>
        @Html.RenderAction("Table", "AcademicPlanRecord", new { Id = Model.Id })
    </div>
</form>

<script>
    $(function () {
        $('input:checkbox').change(function () {
            var courses = 0;
            for (var i = 1; i <= @ViewBag.AcademicCourses.Count; i++) {
                var checkbox = $("#" + i.toString());
                if (checkbox.prop('checked')) {
                    courses = courses + Math.pow(2, i - 1);
                }
            }
            $("#AcademicCourses").val(courses);
        });

        $('#btnSave').click(function () {
            $('#error').text("");
            if ($("form").valid()) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "AcademicPlan")',
                    data: $('form').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.error.length > 0) {
                            $('#error').text(data.error);
                            return;
                        }
                        if (data.id != null) {
                            window.location = "@Url.Action("View", "AcademicPlan", new { Id = "id" })".replace("id", data.id);
                        }
                        else {
                            window.location.reload();
                        }
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            }
        });
    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}