@{
    ViewBag.Title = Model.EducationDirection;
}

@using DepartmentWebCore.Helpers
@using WebInterfaces.ViewModels
@model WebAcademicPlanViewModel

<form class="form-horizontal" style="margin-top:10px" asp-action="AcademicPlan" asp-controller="StudyProcess">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="AcademicYearId" value="@Model.AcademicYearId" />
    <input id="AcademicCourses" type="hidden" asp-for="AcademicCourses" value="@Model.AcademicCourses" />

    <div class="form-group">
        <div class="col-xs-8">
            <label id="error" style="font-weight:bold;" class="col-sm-2 control-label text-danger">@ViewBag.Error</label>
            <button id="btnSave" type="button" class="btn btn-primary pull-right">Сохранить</button>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Учебный год*</label>
        <div class="col-xs-6">
            <select class="form-control" disabled>
                <option value="@Model.AcademicYearId">@Model.AcademicYear</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Направление</label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="EducationDirectionId" required>
                @foreach (var educationDirection in ViewBag.EducationDirections)
                {
                    if (educationDirection.Id == Model.EducationDirectionId)
                    {
                        <option selected value="@educationDirection.Id">@educationDirection.FullName()</option>
                    }
                    else
                    {
                        <option value="@educationDirection.Id">@educationDirection.FullName()</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Курсы</label>
        <div class="col-xs-6">
            @for (int i = 1; i <= @ViewBag.AcademicCourses.Count; i++)
            {
                <label class="checkbox-inline">
                    @if ((@Model.academicCourse() & @ViewBag.AcademicCourses[i - 1]) == @ViewBag.AcademicCourses[i - 1])
                    {
                        <input id="@i" type="checkbox" checked> @i
                    }
                    else
                    {
                        <input id="@i" type="checkbox"> @i
                    }
                </label>
            }
        </div>
    </div>

    <div>
        @Html.RenderAction("Table", "StudyProcess", new { Id = Model.Id, menuElement = @ViewBag.menuElement })
    </div>
</form>

<script>
    $(function () {
        $('input:checkbox').change(function () {
            var courses = 0;
            for (var i = 1; i <= @ViewBag.AcademicCourses.Count; i++) {
                var checkbox = $("#" + i.toString());
                if (checkbox.prop('checked')) {
                    courses = courses + Math.pow(2, i - 1);
                }
            }
            $("#AcademicCourses").val(courses);
        });
        $('#btnSave').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AcademicPlan", "StudyProcess")',
                data: $('form').serialize(),
                success: function () {
                    window.location = document.referrer;
                },
                error: function (result) {
                    ShowError(result);
                }
            });
        });
    });
</script>