@{
    ViewBag.Title = Model.ContingentName != null ? Model.ContingentName : "Контингент";
}

@using AcademicYearInterfaces.ViewModels
@model ContingentViewModel

<form class="form-horizontal" style="margin-top:10px">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="AcademicYearId" />

    <div class="form-group">
        <div class="col-xs-8">
            <a asp-controller="AcademicYear" asp-action="View" asp-route-Id="@Model.AcademicYearId" asp-route-menuElement="@ViewBag.menuElement">
                <button type="button" class="btn btn-primary pull-left">Назад</button>
            </a>
            <button id="btnSave" type="button" class="btn btn-primary pull-right">Сохранить</button>
        </div>
    </div>
    <div id="error" class="text-danger"></div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="AcademicYearId"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="AcademicYearId" asp-items="@ViewBag.AcademicYears" disabled></select>
            <span asp-validation-for="AcademicYearId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="EducationDirectionId"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="EducationDirectionId" asp-items="@ViewBag.EducationDirections"></select>
            <span asp-validation-for="EducationDirectionId" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="ContingentName"></label>
        <div class="col-xs-6">
            <input class="form-control" asp-for="ContingentName">
            <span asp-validation-for="ContingentName" class="text-danger"></span>
        </div>
    </div>

    <div class="container" style="padding-right:0;">
        <row>
            <div class="col-xs-2">
                <div class="form-group">
                    <label style="font-weight:bold;" class="col-xs-6 control-label" asp-for="Course"></label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" asp-for="Course">
                        <span asp-validation-for="Course" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label style="font-weight:bold;" class="col-xs-6 control-label" asp-for="CountGroups"></label>
                    <div class="col-xs-6">
                        <input class="form-control" asp-for="CountGroups">
                        <span asp-validation-for="CountGroups" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="font-weight:bold;" class="col-xs-6 control-label" asp-for="CountStudents"></label>
                    <div class="col-xs-6">
                        <input class="form-control" asp-for="CountStudents">
                        <span asp-validation-for="CountStudents" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="font-weight:bold;" class="col-xs-6 control-label" asp-for="CountSubgroups"></label>
                    <div class="col-xs-6">
                        <input class="form-control" asp-for="CountSubgroups">
                        <span asp-validation-for="CountSubgroups" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </row>
    </div>
</form>

<script>
    $(function () {
        $('#btnSave').click(function () {
            $('#error').text("");
            if ($("form").valid()) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Contingent")',
                    data: $('form').serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.error.length > 0) {
                            $('#error').text(data.error);
                            return;
                        }
                        if (data.id != null) {
                            window.location = "@Url.Action("View", "Contingent", new { Id = "id" })".replace("id", data.id);
                        }
                        else {
                            window.location.reload();
                        }
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            }
        });
    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}