@{
    ViewBag.Title = Model.Title;
}

@using WebInterfaces.ViewModels
@using DepartmentWebCore.Helpers
@model WebAcademicYearViewModel

<form asp-action="AcademicYear" asp-controller="StudyProcess" style="margin-top:10px">
    <div class="row">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="col-xs-5">
            <div class="input-group">
                <div class="input-group-addon">Название учебного года: </div>
                <input class="form-control" type="text" placeholder="Учебный год" asp-for="Title" value="@Model.Title" required>
            </div>
        </div>
        <div class="col-xs-2">
            <button id="btnSave" type="button" class="btn btn-primary">Сохранить</button>

        </div>
    </div>

    <p style="font-weight:bold;" class="text-danger">@ViewBag.Error</p>


    <div style="display:flex;justify-content:center">
        @Html.RenderAction("Menu", "StudyProcess", new { Id = Model.Id, menuElement = @ViewBag.menuElement })
    </div>


    <div>
        @Html.RenderAction("Table", "StudyProcess", new { Id = Model.Id, menuElement = @ViewBag.menuElement })
    </div>

</form>
<script>
    $(function () {
        $('#btnSave').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AcademicYear", "StudyProcess")',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (id) {
                    if (id != null) {
                        window.location = "@Url.Action("Index", "StudyProcess", new { Id = "id" })".replace("id", id);
                    }
                },
                error: function (result) {
                    ShowError(result);
                }
            });
        });
    });
</script>
