@{
    ViewBag.Title = Model.Lecturer;
}

@using AcademicYearInterfaces.ViewModels
@model LecturerWorkloadViewModel

<form class="form-horizontal" style="margin-top:10px" asp-action="LecturerWorkload" asp-controller="StudyProcess">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="AcademicYearId" value="@Model.AcademicYearId" />
    <div class="form-group">
        <div class="col-xs-8">
            <label id="error" style="font-weight:bold;" class="col-sm-2 control-label text-danger">@ViewBag.Error</label>
            <button id="btnSave" type="button" class="btn btn-primary pull-right">Сохранить</button>
        </div>
    </div>
    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Учебный год*</label>
        <div class="col-xs-6">
            <select class="form-control" disabled>
                <option value="@Model.AcademicYearId">@Model.AcademicYear</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Преподаватель*</label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="LecturerId">
                @foreach (var lecturer in ViewBag.Lecturers)
                {
                    if (lecturer.Id == Model.LecturerId)
                    {
                        <option selected value="@lecturer.Id">@lecturer.FullName</option>
                    }
                    else
                    {
                        <option value="@lecturer.Id">@lecturer.FullName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Нагрузка*</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" asp-for="Workload" value="@Model.Workload" required>
        </div>
    </div>
</form>

<script>
    $(function () {
        $('#btnSave').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LecturerWorkload", "StudyProcess")',
                data: $('form').serialize(),
                success: function () {
                    window.location = document.referrer;
                },
                error: function (result) {
                    ShowError(result);
                }
            });
        });
    });
</script>