@{
    ViewBag.Title = Model.StreamLessonName != null ? Model.StreamLessonName : "Поток";
}

@using DepartmentWebCore.Helpers
@using AcademicYearInterfaces.ViewModels
@model StreamLessonViewModel

<form class="form-horizontal" style="margin-top:10px">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="AcademicYearId" />

    <div class="form-group">
        <div class="col-xs-8">
            <a asp-controller="AcademicYear" asp-action="View" asp-route-Id="@Model.AcademicYearId" asp-route-menuElement="@ViewBag.menuElement">
                <button type="button" class="btn btn-primary pull-left">Назад</button>
            </a>
            <button id="btnSave" type="button" class="btn btn-primary pull-right">Сохранить</button>
        </div>
    </div>
    <div id="error" class="text-danger"></div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="AcademicYearId"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="AcademicYearId" asp-items="@ViewBag.AcademicYears" disabled></select>
            <span asp-validation-for="AcademicYearId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="StreamLessonName"></label>
        <div class="col-xs-6">
            <input class="form-control" asp-for="StreamLessonName">
            <span asp-validation-for="StreamLessonName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="StreamLessonHours"></label>
        <div class="col-xs-6">
            <input class="form-control" asp-for="StreamLessonHours">
            <span asp-validation-for="StreamLessonHours" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label" asp-for="Semester"></label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="Semester" asp-items="@ViewBag.Semesters"></select>
            <span asp-validation-for="Semester" class="text-danger"></span>
        </div>
    </div>

    <div>
        @Html.RenderAction("Table", "StreamLessonRecord", new { Id = Model.Id })
    </div>

</form>

<script>
    $(document).ready(function () {
        var inputs = $("input[data-val-number*='number']");
        for (var i = 0; i < inputs.length; i++) {
            $(inputs[i]).on("change", function () {
                changeNum(this);
            });
            changeNum(inputs[i]);
        }
    });

    function changeNum(input) {
        input = $(input);
        var value = input.val();
        if (value) {
            input.val(value.replace(",", "."));
        }
    };

    $('#btnSave').click(function () {
        $("#error").text("");
        if ($("form").valid()) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save", "StreamLesson")',
                data: $('form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.error.length > 0) {
                        $('#error').text(data.error);
                        return;
                    }
                    if (data.id != null) {
                        window.location = "@Url.Action("View", "StreamLesson", new { Id = "id" })".replace("id", data.id);
                    }
                    else {
                        window.location.reload();
                    }
                },
                error: function (result) {
                    alert(result);
                }
            });
        }
    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}