@{
    ViewBag.Title = Model.TimeNormName;
}

@using WebInterfaces.ViewModels
@model WebTimeNormViewModel

<form class="form-horizontal" style="margin-top:10px" asp-action="TimeNorm" asp-controller="StudyProcess">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="AcademicYearId" value="@Model.AcademicYearId" />

    <div class="form-group">
        <div class="col-xs-8">
            <label id="error" style="font-weight:bold;" class="col-sm-2 control-label text-danger">@ViewBag.Error</label>
            <button id="btnSave" type="button" class="btn btn-primary pull-right">Сохранить</button>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Учебный год*</label>
        <div class="col-xs-6">
            <select class="form-control" disabled>
                <option value="@Model.AcademicYearId">@Model.AcademicYear</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Блок дисциплин*</label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="DisciplineBlockId" required>
                @foreach (var disciplineBlock in ViewBag.DisciplineBlocks)
                {
                    if (disciplineBlock.Id == Model.DisciplineBlockId)
                    {
                        <option selected value="@disciplineBlock.Id">@disciplineBlock.Title</option>
                    }
                    else
                    {
                        <option value="@disciplineBlock.Id">@disciplineBlock.Title</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Название*</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" asp-for="TimeNormName" value="@Model.TimeNormName" required>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Краткое название*</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" asp-for="TimeNormShortName" value="@Model.TimeNormShortName" required>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Порядок*</label>
        <div class="col-xs-6">
            <input type="text" class="form-control" asp-for="TimeNormOrder" value="@Model.TimeNormOrder" required>
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Уровень обучения</label>
        <div class="col-xs-6">
            <select class="form-control" asp-for="TimeNormEducationDirectionQualification">
                @if (Model.TimeNormEducationDirectionQualification == null)
                {
                    <option selected value=""></option>
                }
                @foreach (var educationDirectionQualification in ViewBag.EducationDirectionQualifications)
                {
                    if (educationDirectionQualification == Model.TimeNormEducationDirectionQualification)
                    {
                        <option selected value="@educationDirectionQualification">@educationDirectionQualification</option>
                    }
                    else
                    {
                        <option value="@educationDirectionQualification">@educationDirectionQualification</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="container">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">Множитель 1 - Кол-во объектов</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label style="font-weight:bold;" class="col-sm-2 control-label">Тип нагрузки*</label>
                        <div class="col-xs-9">
                            <select class="form-control" asp-for="KindOfLoadType" required>
                                @foreach (var kindOfLoadType in ViewBag.KindOfLoadTypes)
                                {
                                    if (kindOfLoadType == Model.KindOfLoadType)
                                    {
                                        <option selected value="@kindOfLoadType">@kindOfLoadType</option>
                                    }
                                    else
                                    {
                                        <option value="@kindOfLoadType">@kindOfLoadType</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Множитель 2 - Кол-во часов (пусто - значит из УП)</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label style="font-weight:bold;" class="col-sm-2 control-label">Часы</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" asp-for="Hours" value="@Model.Hours">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Множитель 3 - Коэф (пусто - значит нет)</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label style="font-weight:bold;" class="col-sm-2 control-label">Числовой коэффициент</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" asp-for="NumKoef" value="@Model.NumKoef">
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-weight:bold;" class="col-sm-2 control-label">Коэффициент норм времени*</label>
                        <div class="col-xs-9">
                            <select class="form-control" asp-for="TimeNormKoef" required>
                                @foreach (var timeNormKoef in ViewBag.TimeNormKoefs)
                                {
                                    if (timeNormKoef == Model.TimeNormKoef)
                                    {
                                        <option selected value="@timeNormKoef">@timeNormKoef</option>
                                    }
                                    else
                                    {
                                        <option value="@timeNormKoef">@timeNormKoef</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Тип нагрузки</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label style="font-weight:bold;" class="col-sm-2 control-label">Название вида нагрузки*</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" asp-for="KindOfLoadName" value="@Model.KindOfLoadName" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="font-weight:bold;" class="col-sm-2 control-label">Имя атрибута</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" asp-for="KindOfLoadAttributeName" value="@Model.KindOfLoadAttributeName">
                            <label class="control-label pull-right">Атрибут для поиска нагрузки в старой версии планов</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="font-weight:bold;" class="col-sm-2 control-label">Синоним для синей звездочки</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" asp-for="KindOfLoadBlueAsteriskName" value="@Model.KindOfLoadBlueAsteriskName">
                            <label class="control-label pull-right">Название нагрузки в справочнике видов работа в новой версии планов</label>
                        </div>

                    </div>

                    <div class="form-group">
                        <label style="font-weight:bold;" class="col-sm-2 control-label">Атрибут для получения часов</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" asp-for="KindOfLoadBlueAsteriskAttributeName" value="@Model.KindOfLoadBlueAsteriskAttributeName">
                            <label class="control-label pull-right">Название атрибута, по которому извлекать часы для расчетов из строк Плана</label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label style="font-weight:bold;" class="col-sm-2 control-label">Синоним для практики</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" asp-for="KindOfLoadBlueAsteriskPracticName" value="@Model.KindOfLoadBlueAsteriskPracticName">
                            <label class="control-label pull-right">Название практики для извлечения из вида практик<br>(указывать только для нагрузок, связанных с практикой)</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Выводить при настройке дисциплины</label>
        <div class="col-xs-6">
            <input class="form-check-input" asp-for="UseInLearningProgress" />
        </div>
    </div>

    <div class="form-group">
        <label style="font-weight:bold;" class="col-sm-2 control-label">Выводить на сайте</label>
        <div class="col-xs-6">
            <input class="form-check-input" asp-for="UseInSite" />
        </div>
    </div>
</form>

<script>
    $(function () {
        $('#btnSave').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TimeNorm", "StudyProcess")',
                data: $('form').serialize(),
                success: function () {
                    window.location = document.referrer;
                },
                error: function (result) {
                    ShowError(result);
                }
            });
        });
    });
</script>