@using DepartmentWebCore.Models

@model List<EducationDirectionDisciplineByCoursesModel>

@if (Model != null && Model.Count > 0)
{
    <table class="course-table table">
        <tr>
            <th>Семестр @Model.FirstOrDefault(x => x.Semester % 2 == 1).Semester</th>
            <th>Семестр @Model.FirstOrDefault(x => x.Semester % 2 == 0).Semester</th>
        </tr>

        <tr>
            <td>Зачеты</td>
            <td>Зачеты</td>
        </tr>

        <tr class="course-table-tab">
			<td width="50%">
				@foreach (var discipline in Model.Where(x => !x.IsFacultative && x.Semester % 2 == 1 && x.TimeNormName.ToLower().Contains("зачет")))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>

			<td width="50%">
				@foreach (var discipline in Model.Where(x => !x.IsFacultative && x.Semester % 2 == 0 && x.TimeNormName.ToLower().Contains("зачет")))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>
        </tr>

        <tr>
            <td>Курсовые работы/проекты</td>
            <td>Курсовые работы/проекты</td>
        </tr>

        <tr class="course-table-tab">
			<td width="50%">
				@foreach (var discipline in Model.Where(x => !x.IsFacultative && x.Semester % 2 == 1 && x.TimeNormName.ToLower().Contains("курсов")))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>

			<td width="50%">
				@foreach (var discipline in Model.Where(x => !x.IsFacultative && x.Semester % 2 == 0 && x.TimeNormName.ToLower().Contains("курсов")))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>
        </tr>

        <tr>
            <td>Экзамены</td>
            <td>Экзамены</td>
        </tr>

        <tr class="course-table-tab">
			<td width="50%" style="padding:15px;">
				@foreach (var discipline in Model.Where(x => !x.IsFacultative && x.Semester % 2 == 1 && (x.TimeNormName.ToLower().Contains("экзамен") || x.TimeNormName.Contains("ВКР") || x.TimeNormName.ToLower().Contains("ГИА"))))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>

			<td width="50%" style="padding:15px;">
				@foreach (var discipline in Model.Where(x => !x.IsFacultative && x.Semester % 2 == 0 && (x.TimeNormName.ToLower().Contains("экзамен") || x.TimeNormName.Contains("ВКР") || x.TimeNormName.ToLower().Contains("ГИА"))))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>
        </tr>

        <tr>
            <td>Практики</td>
            <td>Практики</td>
        </tr>

        <tr class="course-table-tab">
			<td width="50%" style="padding:15px;">
				@foreach (var discipline in Model.Where(x => !x.IsFacultative && x.Semester % 2 == 1 && x.TimeNormName.ToLower().Contains("практик")))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>

			<td width="50%" style="padding:15px;">
				@foreach (var discipline in Model.Where(x => !x.IsFacultative && x.Semester % 2 == 0 && x.TimeNormName.ToLower().Contains("практик")))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>
        </tr>

        <tr>
            <td>Факультативы</td>
			<td>Факультативы</td>
        </tr>

        <tr class="course-table-tab">
			<td width="50%" style="padding:15px;">
				@foreach (var discipline in Model.Where(x => x.IsFacultative && x.Semester % 2 == 1 && x.TimeNormName.ToLower().Contains("зачет")))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>

			<td width="50%" style="padding:15px;">
				@foreach (var discipline in Model.Where(x => x.IsFacultative && x.Semester % 2 == 0 && x.TimeNormName.ToLower().Contains("зачет")))
				{
					if (discipline.InDepartment)
					{
						@Html.ActionLink(discipline.DisciplineName, "Discipline", "Discipline", new { id = discipline.DisciplineId }, null)<br />
					}
					else
					{
						<span>@discipline.DisciplineName</span><br />
					}
				}
			</td>
        </tr>
    </table>
}