@model WebInterfaces.ViewModels.WebProcessEventWithCommentViewModel
@{
    ViewData["Title"] = Model.Title;
}

<h2 class="page-header">@Model.Title</h2>

<div class="text-lec">Автор: @Model.DepartmentUser от @Model.Date<br /></div>
<div class="text-event">
    @Model.Content<br />
</div><hr />
@if (DepartmentWebCore.Services.FileService.GetFilesForEvent(Model.EventId.ToString()).Count != 0)
{
    <div class="text-lec">
        Вложенные файлы:<br />
        @foreach (var file in DepartmentWebCore.Services.FileService.GetFilesForEvent(Model.EventId.ToString()))
        {

            if (file.Name.Contains(".pdf"))
            {
                <a href="@Url.Action("PDF", new { path = file.Path, fileName = file.Name })" target="_blank">@file.Name</a>
            }
            else
            {
                <a href="@Url.Action("Download", new { path = file.Path, fileName = file.Name })">@file.Name</a>
            }
            <br/>
        }
    </div><hr />
}

@{int i = 0; }
<div class="comment">
    @if (User.IsInRole("Преподаватель") || User.IsInRole("Студент"))
    {
        <div style="margin:0 0 8px 0">Комментарии:</div>
        @if (Model.commentList.Count != 0)
        {
            @foreach (var com in Model.commentList)
            {
                <div class="text-lec" style="margin:8px">
                    @com.Content
                    <b style="font-size:18px; font-weight:normal">
                        @if (User.Identity.Name != null && com.DepartmentUser.Contains(User.Identity.Name))
                        {
                            <a href="@Url.Action("DeleteCommentEvent", "Comment", new { id = com.Id, eventId = Model.EventId })"> Удалить </a>
                        }
                    </b>
                </div>
                <p align="right"><i style="margin:8px 8px 8px 16px">Пользователь: @com.DepartmentUser - @com.Date</i></p>

                <div style="margin:0  0 8px 0">
                    <a href="#hidden2+@i" style="text-decoration:none" onclick="view('hidden2+@i'); return false">Ответить</a>
                    <div id="hidden2+@i" style="display: none;">
                        @{i++;}
                        @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new WebInterfaces.BindingModels.CommentSetBindingModel { EventId = Model.EventId, ParentId = com.Id })

                    </div>
                </div>

                @if (com.commentList.Count != 0)
                {
                    <div style="margin:0  0 8px 38px">
                        @foreach (var comChild in com.commentList)
                        {
                            @comChild.Content
                            @if (User.Identity.Name != null && comChild.DepartmentUser.Contains(User.Identity.Name))
                            {
                                <a href="@Url.Action("DeleteComment", new { id = com.Id, eventId = Model.EventId })">Удалить </a>
                            }
                            <p align="right"><i style="margin:8px 8px 8px 16px">Ответ @com.DepartmentUser от пользователя @comChild.DepartmentUser @comChild.Date <br /></i></p>
                            <br />
                        }
                    </div>
                }
            }
        }

        <br />
        @:Добавить новый комментарий:
        @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new WebInterfaces.BindingModels.CommentSetBindingModel { EventId = Model.EventId })
    }
</div>

<script>
    function view(n) {
        style = document.getElementById(n).style;
        style.display = (style.display == 'block') ? 'none' : 'block';
    }
</script>

