@using DepartmentWebCore.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/fontawesome//css/all.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/ckeditor/ckeditor.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="https://cdn.ckeditor.com/ckeditor5/12.2.0/classic/ckeditor.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="logo">
                <a href="~/Home/Index"> <img src="~/Images/logo_1_1.png" width="50" height="50" alt="Главная"></a>
            </div>

            <div id="menu" class="menu">@Html.RenderAction("MainMenu", "Home")</div>

            <div class="ulstu">
                <a href="http://www.ulstu.ru"> <img src="~/Images/Ulstu.png" width="80" height="50" alt="УлГТУ"></a>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="left-panel">
            @Html.RenderAction("Login", "Account")

            @Html.RenderAction("FirstNews", "Home")
        </div>
        <div class="center-panel">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year – Кафедра "Информационные системы"</p>
            </footer>
        </div>
    </div>
</body>
</html>
